#navbar-main{
  /*background-color: white;*/
  height: 4.5625rem;
  /*border-bottom: 1px solid #e0e3e6;*/
  width: 100%;
  z-index: 2;
}
@media (min-width: 90rem) {
  #navbar-main{
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#navbar-main> .main-menu-wrapper {
  height: 3.2rem;
  width: 100%;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
body.mobile-menu-open #navbar-main> .main-menu-wrapper {
  overflow-y: auto;
  height: calc(100vh - 48px);
  min-height: -webkit-fill-available;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

@media (min-width: 90rem) {
  #navbar-main> .main-menu-wrapper {
    height: initial;
    min-height: initial;
    overflow-y: initial;
  }
}
#navbar-main.navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#navbar-main.navbar-toggler-icon {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: 1rem 1rem;
  background-size: 1rem;
  -webkit-filter: none;
  filter: none;
}
#navbar-main.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../images/mobile-menu-close.svg);
  -webkit-background-size: 0.8125rem 0.8125rem;
  background-size: 0.8125rem;
}
#navbar-main.navbar-toggler[aria-expanded=false] .navbar-toggler-icon {
  background-image: url(../images/mobile-menu-toggler.svg);
}
@media (max-width: 61.99875rem) {
  #navbar-main.navbar-toggler .navbar-toggler {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #navbar-main.navbar-toggler .navbar-toggler-icon {
    width: 1.0625rem;
    height: 0.9375rem;
    background-image: url(../images/mobile.svg);
  }
}
#navbar-main.form-inline {
  height: 3rem;
}
@media (min-width: 90rem) {
  #navbar-main.form-inline {
    height: 3.75rem;
  }
}
#navbar-main.form-inline .svg-inline--fa {
  height: 1.0625rem;
}
@media (min-width: 90rem) {
  #navbar-main.form-inline .svg-inline--fa {
    height: 1.25rem;
  }
}
/*#navbar-main.navbar {*/
  /* @include media-breakpoint-up(lg) {
    margin-top: 0;
    gap: rem-calc(30);
    @include effect-style-elevation-sm();
    justify-content: space-between;
    flex-wrap: nowrap;
  } */
/*}*/
#navbar-main.navbar .dropdown-cor-menu.level-1 .nav-link,
#navbar-main.navbar .dropdown-menu.level-2 .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#navbar-main.navbar .dropdown-cor-menu.level-1 .nav-link .svg-inline--fa,
#navbar-main.navbar .dropdown-menu.level-2 .nav-link .svg-inline--fa {
  height: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 17px;
  position: relative;
}
#navbar-main.navbar .dropdown-cor-menu.level-1 .nav-link .svg-inline--fa.icon-visit-rochester,
#navbar-main.navbar .dropdown-menu.level-2 .nav-link .svg-inline--fa.icon-visit-rochester {
  background-image: url(../images/icons/rochester-flower-icon.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  left: -2px;
}
#navbar-main.navbar .dropdown-cor-menu.level-1 .nav-link .svg-inline--fa.icon-visit-rochester + .link-text,
#navbar-main.navbar .dropdown-menu.level-2 .nav-link .svg-inline--fa.icon-visit-rochester + .link-text {
  margin-left: 0.8125rem !important;
}
#navbar-main.navbar .nav-link:focus-visible {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 110, 194, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(0, 110, 194, 0.5);
}
#navbar-main.navbar .nav-link .link-text {
  white-space: break-spaces;
}
#navbar-main.navbar .mobile-nav {
  padding-left: 0;
  padding-right: 0;
  gap: initial;
}
#navbar-main.navbar .mobile-nav li.nav-item,
#navbar-main.navbar .mobile-nav li.dropdown-item {
  margin-bottom: 0.25rem !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#navbar-main.navbar .mobile-nav > li.nav-item:not(.item-open):hover, #navbar-main.navbar .mobile-nav > li.nav-item:not(.item-open):focus {
  outline: 1px solid #1C2B54;
  border-radius: 0.25rem;
  background-color: #eff6ff;
  color: #1C2B54;
  font-weight: 500;
}
#navbar-main.navbar .mobile-nav > li.nav-item:not(.item-open):hover .nav-link, #navbar-main.navbar .mobile-nav > li.nav-item:not(.item-open):focus .nav-link {
  color: #1c2b54;
}
#navbar-main.navbar .mobile-nav > li.nav-item:not(.item-open):hover a.dropdown-toggle::after, #navbar-main.navbar .mobile-nav > li.nav-item:not(.item-open):focus a.dropdown-toggle::after {
  background-image: url(../images/chevron.svg);
}
#navbar-main.navbar .mobile-nav .dropdown-cor-menu.level-1 > li {
  width: auto;
}
#navbar-main.navbar .mobile-nav .dropdown-cor-menu.level-1 > li.dropdown-item:not(.dropdown) {
  width: auto;
  position: relative;
  margin: 0 1rem;
}
#navbar-main.navbar .mobile-nav .dropdown-cor-menu.level-1 > li.dropdown-item:not(.dropdown):hover, #navbar-main.navbar .mobile-nav .dropdown-cor-menu.level-1 > li.dropdown-item:not(.dropdown):focus {
  outline: 1px solid #1C2B54;
  border-radius: 0.25rem;
  background-color: #eff6ff;
  color: #1C2B54;
  font-weight: 500;
  margin: 0 0.5rem;
}
#navbar-main.navbar .mobile-nav .dropdown-cor-menu.level-1 > li.dropdown-item:not(.dropdown):hover a.nav-link, #navbar-main.navbar .mobile-nav .dropdown-cor-menu.level-1 > li.dropdown-item:not(.dropdown):focus a.nav-link {
  padding: 0.75rem 0.75rem !important;
  color: #1C2B54;
}
#navbar-main.navbar .mobile-nav .dropdown-menu.level-2 a.nav-link {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  color: #45484F;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  padding-left: 3rem !important;
}
#navbar-main.navbar .mobile-nav .dropdown-menu.level-2 a.nav-link:hover {
  background-color: #F8F8F8;
}
#navbar-main.navbar .mobile-nav .dropdown-menu.level-2 a.nav-link:hover::after {
  width: 1rem;
  height: 0.5rem;
  display: inline-block;
  margin-left: 0.875rem;
  content: " ";
  background-image: url(../images/long-arrow.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
#navbar-main.navbar .mobile-nav li.nav-item {
  border-bottom: none;
  padding-left: 0;
  margin-left: 5px;
  margin-right: 5px;
}
#navbar-main.navbar .mobile-nav li.nav-item:first-child {
  margin-top: 2.5rem;
}
#navbar-main.navbar .mobile-nav li.nav-item:last-child {
  margin-bottom: 2.5rem;
}
#navbar-main.navbar .mobile-nav li.nav-item a.nav-link {
  text-transform: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01125rem;
  font-weight: 550;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#navbar-main.navbar .mobile-nav li.nav-item a.nav-link:hover, #navbar-main.navbar .mobile-nav li.nav-item a.nav-link:focus {
  text-decoration: none;
}
#navbar-main.navbar .mobile-nav li.nav-item a.nav-link.dropdown-toggle-main::after, #navbar-main.navbar .mobile-nav li.nav-item a.nav-link.dropdown-toggle::after {
  content: none;
}
#navbar-main.navbar .mobile-nav li.nav-item a.nav-link .link-text {
  margin-left: 1rem;
}
#navbar-main.navbar .mobile-nav li.nav-item.item-open {
  background-color: #F8F8F8;
}
#navbar-main.navbar .mobile-nav li.nav-item.item-open:first-child {
  margin-top: 0;
}
#navbar-main.navbar .mobile-nav li.nav-item.item-open > a.nav-link {
  margin-left: 0.25rem;
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.75rem;
  letter-spacing: -0.00188rem;
  color: #1C2B54;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  padding-left: 0;
}
#navbar-main.navbar .mobile-nav li.nav-item.item-open ul.dropdown-menu,
#navbar-main.navbar .mobile-nav li.nav-item.item-open ul.dropdown-cor-menu {
  padding-top: 1.5rem;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-main.navbar .mobile-nav li.nav-item a.level-up {
  display: none;
  padding-left: 1.25rem;
}
@media (min-width: 90rem) {
  #navbar-main.navbar .mobile-nav li.nav-item a.level-up {
    display: none !important;
  }
}
#navbar-main.navbar .mobile-nav li.nav-item a.level-up::after {
  content: " ";
  display: block;
  border: none;
  width: 1.25rem;
  height: 1rem;
  background-image: url(../images/long-arrow.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 1.25rem 1.25rem;
  background-size: 1.25rem;
  background-position: center;
}
#navbar-main.navbar .mobile-nav li.nav-item > a.dropdown-toggle {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1rem !important;
}
#navbar-main.navbar .mobile-nav li.nav-item > a.dropdown-toggle::after {
  border: none;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/chevron-white.svg);
  background-repeat: no-repeat;
  -webkit-background-size: auto 0.8125rem;
  background-size: auto 0.8125rem;
  background-position: 0.25rem center;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  border-radius: 0;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > .level-up,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > .level-up {
  display: none;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > .nav-link,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > .nav-link {
  text-transform: none;
  color: #0C111D;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01125rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.5rem !important;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > .nav-link.submenu-open,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > .nav-link.submenu-open {
  border: 1px solid #1C2B54;
  border-radius: 0;
  background-color: #eff6ff;
  border-right: none;
  margin-left: 0.5rem;
  padding-left: 1rem !important;
  color: #1C2B54;
  font-weight: 500;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > a.dropdown-toggle,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > a.dropdown-toggle {
  margin-left: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1rem !important;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > a.dropdown-toggle.submenu-open,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > a.dropdown-toggle.submenu-open {
  border: 1px solid #1C2B54;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #eff6ff;
  border-left: none;
  margin-right: 0.5rem;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > a.dropdown-toggle.submenu-open::after,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > a.dropdown-toggle.submenu-open::after {
  background-image: url(../images/chevron-primary.svg);
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > a.dropdown-toggle::after,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > a.dropdown-toggle::after {
  border: none;
  width: 1.25rem;
  height: 1rem;
  background-image: url(../images/chevron.svg);
  background-repeat: no-repeat;
  -webkit-background-size: auto 0.8125rem;
  background-size: auto 0.8125rem;
  background-position: 0.25rem center;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item > a.dropdown-toggle.submenu-open::after,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item > a.dropdown-toggle.submenu-open::after {
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item ul.dropdown-menu,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-menu > li.dropdown-item ul.dropdown-cor-menu,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item ul.dropdown-menu,
#navbar-main.navbar .mobile-nav li.nav-item > ul.dropdown-cor-menu > li.dropdown-item ul.dropdown-cor-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  border-radius: 0;
}
#navbar-main.navbar .desktop-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  gap: 0;
}
#navbar-main.navbar .desktop-nav > .nav-item {
  position: relative;
  margin-right: 2rem;
}
#navbar-main.navbar .desktop-nav > .nav-item:last-of-type {
  margin-right: 0;
}
#navbar-main.navbar .desktop-nav > .nav-item.active::after {
  content: " ";
  width: 0;
  height: 0.25rem;
  display: block;
  position: absolute;
  bottom: -0.3125rem;
  background-color: #ffffff;
  -webkit-animation: grow-underline 0.3s ease forwards;
  -o-animation: grow-underline 0.3s ease forwards;
  animation: grow-underline 0.3s ease forwards;
}
@-webkit-keyframes grow-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-o-keyframes grow-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes grow-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#navbar-main.navbar .desktop-nav > .nav-item:not(.active):hover::after {
  content: " ";
  width: 0;
  height: 0.25rem;
  display: block;
  position: absolute;
  bottom: -0.3125rem;
  background-color: #ffffff;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  -webkit-animation: grow-underline 0.3s ease forwards;
  -o-animation: grow-underline 0.3s ease forwards;
  animation: grow-underline 0.3s ease forwards;
}
#navbar-main.navbar .desktop-nav .nav-item {
  list-style-type: none;
  margin-bottom: 0;
}
#navbar-main.navbar .desktop-nav .nav-item a.level-up {
  display: none;
}
#navbar-main.navbar .desktop-nav .nav-item > .nav-link:hover, #navbar-main.navbar .desktop-nav .nav-item > .nav-link:focus, #navbar-main.navbar .desktop-nav .nav-item > .nav-link:focus-visible {
  -webkit-text-decoration: solid underline #1C2B54 0.25rem;
  text-decoration: solid underline #1C2B54 0.25rem;
  text-underline-offset: 0.5rem;
}
#navbar-main.navbar .desktop-nav .nav-item .dropdown-cor-menu.level-1 .dropdown-toggle-main,
#navbar-main.navbar .desktop-nav .nav-item .dropdown-menu.level-2 .dropdown-toggle-main {
  max-width: 19.75rem;
}
#navbar-main.navbar .desktop-nav .nav-item .dropdown-cor-menu.level-1 > li.dropdown-item,
#navbar-main.navbar .desktop-nav .nav-item .dropdown-menu.level-2 > li.dropdown-item {
  margin-bottom: 0.5rem;

}

#navbar-main.navbar .nav-item .dropdown-cor-menu.level-1 > li.dropdown-item .field--name-field-provus-menu-icon,
#navbar-main.navbar .nav-item .dropdown-menu.level-2 > li.dropdown-item .field--name-field-provus-menu-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
}

#navbar-main.navbar .desktop-nav .nav-item .dropdown-menu.level-2.show, #navbar-main.navbar .desktop-nav .nav-item .dropdown-menu.level-2:not([style*=display]):not([style*=none]) {
  display: block !important;
}
/*#navbar-main.navbar .desktop-nav .nav-item .nav-link {*/
/*  text-transform: none;*/
/*  color: #0D0D0D;*/
/*  font-size: 0.9375rem;*/
/*  line-height: 1.375rem;*/
/*  font-weight: 550;*/
/*  font-family: "Inter", sans-serif;*/
/*  padding: 1.1875rem 0;*/
/*  text-align: left;*/
/*}*/
#navbar-main.navbar .desktop-nav .nav-item .nav-link:hover, #navbar-main.navbar .desktop-nav .nav-item .nav-link:focus {
  background-color: transparent;
  text-decoration: none;
}
#navbar-main.navbar .desktop-nav .nav-item .nav-link.dropdown-toggle-main::after {
  content: none;
}
#navbar-main.navbar .desktop-nav .nav-item .dropdown-menu,
#navbar-main.navbar .desktop-nav .nav-item .dropdown-cor-menu {
  padding: 1.5rem 1.25rem;
  border-radius: 0.25rem;
  border: none;
  -webkit-box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 {
  width: 22.25rem;
  /*margin-top: 0.375rem;*/
  background-color: white;
  border-radius: 0.25rem 0 0 0.25rem;
  -webkit-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
@media (min-width: 62rem) {
  #navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 {
    position: fixed;
    /*top: 3.625rem;*/
    min-height: 21.25rem;
  }
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1.match > li.dropdown-item {
  position: unset;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 .callout-container {
  content: " ";
  position: absolute;
  top: 0;
  left: 22.25rem;
  width: 25rem;
  background-color: #f9f9f9;
  height: 100%;
  z-index: -1;
  border-radius: 0 0.25rem 0.25rem 0;
  -webkit-box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 12px 12px -8px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 .callout-container .field--name-field-provus-menu-callout-image img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  margin: 0;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 .callout-container .field--name-field-provus-menu-callout-link a {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: -0.0075rem;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 .callout-container .field--name-field-provus-menu-callout-link a::after {
  bottom: -0.5rem !important;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item {
  margin-bottom: 0.25rem;
  position: relative;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item.dropdown > .nav-link {
  background-image: url(../images/chevron.svg);
  -webkit-background-size: 0.5rem 0.5rem;
  background-size: 0.5rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item.dropdown > .nav-link:hover, #navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item.dropdown > .nav-link:focus {
  background-image: url(../images/chevron-primary.svg);
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .nav-link {
  text-transform: none;
  color: #0D0D0D;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01125rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 0.75rem;
  padding-right: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#navbar-main.navbar .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .nav-link.has_icon {
  text-indent: 1.75rem;
}

#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .nav-link:hover, #navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .nav-link:focus {
  text-decoration: none;
  color: #1C2B54;
  text-decoration: none;
  color: #1C2B54;
  outline: 1px solid #1C2B54;
  border-radius: 0.25rem;
  background-color: #eff6ff;
  color: #1C2B54;
  font-weight: 500;
  margin: 0 0 0.25rem;
  width: auto;
  background-image: url(../images/chevron-primary.svg);
  -webkit-background-size: 0.5rem 0.5rem;
  background-size: 0.5rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .nav-link .link-text {
  margin-left: 1rem;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .dropdown-menu.level-2 {
  left: calc(100% - 0.0625rem);
  top: 0 !important;
  width: 25rem;
  background-color: #f9f9f9;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .dropdown-menu.level-2 > .dropdown-item.col-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  border-bottom: 1px solid #52525b;
  color: #18171a;
  white-space: break-spaces;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .dropdown-menu.level-2 > .dropdown-item > .nav-link {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  padding-left: 1rem !important;
  text-transform: none;
  color: #18171a;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01125rem;
  font-weight: 400;
  text-align: left;
  padding: 0.75rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .dropdown-menu.level-2 > .dropdown-item > .nav-link:hover {
  background-color: #F8F8F8;
  color: #1C2B54;
}
#navbar-main.navbar .desktop-nav .nav-item > .dropdown-cor-menu.level-1 > li.dropdown-item > .dropdown-menu.level-2 > .dropdown-item > .nav-link:hover::after {
  width: 1rem;
  height: 0.5rem;
  display: inline-block;
  margin-left: 0.875rem;
  content: " ";
  background-image: url(../images/menu-arrow.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
#navbar-main.separator {
  margin: 2.5rem 1.5rem;
  border-bottom: 1px solid #1C2B54;
}
@media (min-width: 90rem) {
  #navbar-main.separator {
    display: none;
  }
}
#navbar-main#utility-menu-mobile .nav {
  display: block;
}
#navbar-main#utility-menu-mobile .nav li.nav-item {
  border-bottom: none;
  padding-left: 0;
  margin-bottom: 0;
}
#navbar-main#utility-menu-mobile .nav li.nav-item a.nav-link {
  text-transform: none;
  color: #747474;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01125rem;
  font-weight: 550;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#navbar-main#utility-menu-mobile .nav li.nav-item a.nav-link:hover {
  text-decoration: none;
  color: #1C2B54;
}
#navbar-main#user-account-menu-mobile .nav {
  display: block;
}
#navbar-main#user-account-menu-mobile .nav li.nav-item {
  border-bottom: none;
  padding-left: 0;
  margin-bottom: 0;
}
#navbar-main#user-account-menu-mobile .nav li.nav-item a.nav-link {
  text-transform: none;
  color: #747474;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.01125rem;
  font-weight: 550;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#navbar-main#user-account-menu-mobile .nav li.nav-item a.nav-link:hover {
  text-decoration: none;
  color: #1C2B54;
}

/*body.scrolled #navbar-top {*/
/*  position: fixed;*/
/*  width: 100%;*/
/*  z-index: 2;*/
/*  left: 50%;*/
/*  -webkit-transform: translateX(-50%);*/
/*  -o-transform: translateX(-50%);*/
/*  transform: translateX(-50%);*/
/*  top: 0;*/
/*}*/
/*body.scrolled #navbar-main {*/
/*  position: fixed;*/
/*  width: 100%;*/
/*  z-index: 100;*/
/*  left: 50%;*/
/*  -webkit-transform: translateX(-50%);*/
/*  -o-transform: translateX(-50%);*/
/*  transform: translateX(-50%);*/
/*  top: 0;*/
/*}*/
/*@media (min-width: 90rem) {*/
/*  body.scrolled #navbar-main {*/
/*    top: 2.5rem;*/
/*  }*/
/*}*/

/*@media (min-width: 90rem) {*/
/*  body.scrolled.gin--vertical-toolbar #navbar-top,*/
/*  body.scrolled.gin--vertical-toolbar #navbar-main,*/
/*  body.scrolled.gin--vertical-toolbar #searchCollapse.show {*/
/*    left: calc(50% + 66px);*/
/*    -webkit-transform: translateX(calc(-50% - 33px));*/
/*    -o-transform: translateX(calc(-50% - 33px));*/
/*    transform: translateX(calc(-50% - 33px));*/
/*  }*/
/*}*/
/*body.scrolled.layout-builder-active #navbar-top,*/
/*body.scrolled.layout-builder-active #navbar-main,*/
/*body.scrolled.layout-builder-active #searchCollapse.show {*/
/*  z-index: 101;*/
/*}*/
/*body.scrolled.layout-builder-active #navbar-top {*/
/*  top: 2rem;*/
/*}*/
/*@media (min-width: 90rem) {*/
/*  body.scrolled.layout-builder-active #navbar-top {*/
/*    top: 3.75rem;*/
/*  }*/
/*}*/
/*body.scrolled.layout-builder-active #navbar-main {*/
/*  top: 5.5rem;*/
/*}*/
/*@media (min-width: 90rem) {*/
/*  body.scrolled.layout-builder-active #navbar-main {*/
/*    top: 6.25rem;*/
/*  }*/
/*}*/
/*body.scrolled.layout-builder-active #searchCollapse.show {*/
/*  top: 8.5rem;*/
/*}*/
/*@media (min-width: 90rem) {*/
/*  body.scrolled.layout-builder-active #searchCollapse.show {*/
/*    top: 10rem;*/
/*  }*/
/*}*/

.layout-builder-active #navbar-main {
  top: 0;
}
.layout-builder-active #searchCollapse.show {
  top: 3rem;
}
.layout-builder-active.mobile-menu-open #navbar-main {
  top: 7.25rem;
}

/*body.scrolled.layout-builder-active #searchCollapse.show {*/
/*  top: 8.5rem;*/
/*}*/
/*@media (min-width: 90rem) {*/
/*  body.scrolled.layout-builder-active #searchCollapse.show {*/
/*    top: 10rem;*/
/*  }*/
/*}*/

.layout-builder-active #navbar-main {
  top: 0;
}
.layout-builder-active #searchCollapse.show {
  top: 3rem;
}
.layout-builder-active.mobile-menu-open #navbar-main {
  top: 7.25rem;
}

.show-important {
  display: block !important;
}

@media (max-width: 90rem) {
  #CollapsingNavbar.provus-mega-menu-mobile {
    box-shadow: 0 0.125rem 0.25rem rgba(21, 25, 27, 0.075) !important;
  }

  #CollapsingNavbar.provus-mega-menu-mobile .navbar-form {
    position: relative !important;
    display: block !important;
  }
  #CollapsingNavbar.provus-mega-menu-mobile #searchCollapse {
    display: block !important;
    margin: 0 auto !important;
    width: 100% !important;
    right: 0;
    left: 0;
  }

  #CollapsingNavbar.provus-mega-menu-mobile #searchCollapse .region-header-form {
    margin: 0 1rem;
  }

  .views-exposed-form .form-type-textfield, .views-exposed-form .form-type-select, .views-exposed-form .form-type-date {
    margin-right: 0 !important;
  }

  #CollapsingNavbar.provus-mega-menu-mobile .navbar-form .nav-link {
    display: none !important;
  }

  #navbar-main.navbar .mobile-nav .nav-item > .dropdown-cor-menu.level-1 .callout-container {
    display: none !important;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.gin--core-navigation .header {
  top: 54px;
}

.page--canvas-wrapper .header {
  top: 0;
}

body {
  overflow-x: visible !important;
}

.layout-main-wrapper {
  overflow-x: hidden;
}

#navbar-main {
  margin-top: 0 !important;
}