.component-title {
  max-width: 63.2rem;
}

.component-title__heading {
  margin: 0;
}

.component-title__summary {
  margin: var(--spacing-2) 0 0 0;
}

.component-title__line {
  width: 12rem;
  margin: var(--spacing-3) 0 0 0;
  border: 0.2rem solid var(--brand-primary-dark);
}

/* Default variation */
.component-title--default {
  margin-bottom: var(--spacing-4);
}

/* Small/secondary variation */
.component-title--small {
  margin-bottom: var(--spacing-3);
}

.component-title--small .component-title__line {
  width: 4rem;
  border: 0.1rem solid var(--brand-accent);
}

/* Component centered */
.component-title--centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.component-title--centered .component-title__line {
  margin: var(--spacing-3) auto 0;
}

@media (min-width: 768px) {
  /* Default variation */
  .component-title--default {
    margin-bottom: var(--spacing-4);
  }

  .component-title--default .component-title__line {
    margin: var(--spacing-4) 0 0 0;
  }

  /* Component centered */
  .component-title--centered .component-title__line {
    margin: var(--spacing-4) auto 0;
  }
}
