@reference "../../00-base/global/global.pcss";

.space-logo-section {
  &__content {
    @apply flex flex-col flex-wrap;
  }

  &__pre-heading {
    @apply text-2xl mb-3 text-sds-heading;
  }

  &__heading {
    @apply text-sds-heading;
  }

  &__body {
    @apply text-sds-neutral;
  }
}
