/**
 * Defines the fonts used in the theme.
 *
 * You can customize these values without rebuilding the compiled CSS. Copy this
 * file to your web root, so it sits next to index.php, and clear Drupal's
 * cache. Then, any changes you make in this file should be reflected right away.
 */

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Poppins/Poppins-Bold.woff2) format("woff2");
}
/* Poppins Bold Italic */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Poppins/Poppins-BoldItalic.woff2) format("woff2");
}
/* Open Sans Regular */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/OpenSans/OpenSans-Regular.woff2) format("woff2");
}
/* Open Sans Italic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/OpenSans/OpenSans-Italic.woff2) format("woff2");
}
