button.fpe-btn-popover-trigger {
  justify-content: space-between;
  width: 100%;
}

.fpe-btn-popover-trigger,
.fpe-btn-popover-trigger .rt-Text,
.fpe-btn-popover-trigger svg {
  color: #1c2024;
  fill: #1c2024;
}

.fpe-popover-content {
  overflow: auto;
  max-height: 300px;
}

.fpe-divider {
  height: 1px;
  margin: 4px 0;
  background-color: var(--gray-6);
}
