.btn-alignment-left {
  text-align: left;
}

.btn-alignment-center {
  text-align: center;
}

.btn-alignment-right {
  text-align: right;
}

.btn-small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-large {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.btn-width-full {
  display: block;
  width: 100%;
}
