.canvasContainer {
  position: fixed;
  inset: var(--topbar-height) 0 0 0;
  background-color: white;
}
.canvasCalloutContainer {
  position: fixed;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  background: var(--color-background, #fff);
  inset: 0;
}

@media (max-width: 1023px) {
  .canvasCalloutContainer {
    display: flex;
  }
  .canvasAppContent {
    display: none;
  }
}
