.aiPanel {
  height: 100%;

  & ~ * {
    transition: margin 0.1s ease-in-out;
    transition-delay: 0s;
  }

  &[data-open="true"] + * {
    margin-left: 8px;
    border-left: 1px solid var(--gray-5);
    border-top-left-radius: 8px;
  }
  &[data-open="true"] ~ * {
    margin-top: 16px !important;
    border-top: 1px solid var(--gray-5);
  }
}

.aiPanelContent {
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: width 0.3s ease-in-out;

  &[data-open="true"] {
    width: 310px;
  }
}
