.form-item--radios,
.form-item--radio__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-item--radios li::before,
.form-item--radio__item li::before {
  display: none;
}

.form-item--radio {
  border: 0;
  padding: 0;
}

.form-item--radio__item {
  margin: 0 0 var(--spacing-3) 0;
  position: relative;
  padding-left: var(--spacing-5);
  display: flex;
  flex-wrap: wrap;
}

.form-item--radio__item .form-item__description {
  width: 100%;
  order: 2;
  margin-top: var(--spacing-2);
  margin-bottom: 0;
}

.form-item--radio__item .form-item__description p {
  margin: 0;
}

.form-item--radio__item label::before,
.form-item--radio__item label::after {
  content: "";
  border-radius: 50%;
}

.form-item--radio__item label::before {
  border: 0.1rem solid var(--brand-primary);
  background-color: transparent;
  width: var(--spacing-4);
  height: var(--spacing-4);
  position: absolute;
  top: 0;
  left: 0;
}

.form-item--radio__item label::after {
  background-color: var(--brand-primary);
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: var(--spacing-2);
  left: var(--spacing-2);
  transform: rotate(-45deg);
  opacity: 0;
}

.form-item--radio__item input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: var(--spacing-4);
  height: var(--spacing-4);
  z-index: 1;
  margin: 0;
  opacity: 0;
}

.form-item--radio__item input:focus + label::before {
  box-shadow: var(--focus-shadow);
}

.form-item--radio__item input:checked + label::before {
  border-width: 0.2rem;
}

.form-item--radio__item input:checked + label::after {
  opacity: 1;
}

.form-item--radios--inline {
  display: flex;
  flex-wrap: wrap;
}

.form-item--radios--inline .form-item--radio__item {
  margin: 0 var(--spacing-7) 0 0;
}

.form-item__indent {
  padding-left: var(--spacing-7);
}
