.headerCloseButton {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  cursor: pointer;
}

.title {
  margin-bottom: var(--space-2);
  line-height: 1 !important;
}

.dialogScrollableInner {
  overflow-y: auto;
  max-height: calc(100vh - 300px);
}

.fieldLabel {
  color: var(--slate-11);
}
