.DialogContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: var(--space-4) !important;
  animation: content-show 250ms cubic-bezier(0.16, 1, 0.3, 1);
  border-radius: var(--radius-4) !important;
  box-shadow: var(--shadow-6) !important;
}
.DialogContent:focus {
  outline: none;
}
.DraggableArea {
  position: absolute;
  width: 100%;
  height: var(--space-7);
}

@keyframes content-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
