:root {
  --tooltip-bg-color: #1c2024;
}

.TooltipContent {
  position: absolute;
  padding: 10px 15px;
  user-select: none;
  color: white;
  border-radius: 4px;
  background-color: var(--tooltip-bg-color);
  box-shadow:
    hsl(206, 22%, 7%, 0.35) 0 10px 38px -10px,
    hsl(206, 22%, 7%, 0.2) 0 10px 20px -15px;
  font-size: 15px;
  line-height: 1;
  will-change: transform, opacity;
}

.TooltipArrow {
  fill: var(--tooltip-bg-color);
}
