.node--type-provus-event {
  .main-content {
    .field--type-smartdate {
      position: relative;
    }
    .title-container .title {
      margin-left: calc(var(--bs-gutter-x) * .5);
    }
    .nav-tabs {
      position: relative;
    }
    .field--type-image {
      position: relative;
    }
    .field--name-field-provus-title {
      font-weight: 500;
    }
  }
    @media only screen and (max-width: 1200px) {
    .card-title {
      width: rem-calc(163);
    }
  }
}
