/* @TODO: Update to 1024px after carousels get implemented */
@media (min-width: 580px) {
  .item-list--column-cards .item-list__items {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
