parameters:
	ignoreErrors:
		-
			message: '#^Call to method filters\(\) on an unknown class Drupal\\filter\\FilterFormatInterface\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_ckeditor5/src/Form/IconDialog.php

		-
			message: '#^Instantiated class Drupal\\editor\\Ajax\\EditorDialogSave not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_ckeditor5/src/Form/IconDialog.php

		-
			message: '#^Parameter \#1 \$command of method Drupal\\Core\\Ajax\\AjaxResponse\:\:addCommand\(\) expects Drupal\\Core\\Ajax\\CommandInterface, Drupal\\editor\\Ajax\\EditorDialogSave given\.$#'
			identifier: argument.type
			count: 1
			path: modules/ui_icons_ckeditor5/src/Form/IconDialog.php

		-
			message: '#^Parameter \$filter_format of method Drupal\\ui_icons_ckeditor5\\Form\\IconDialog\:\:buildForm\(\) has invalid type Drupal\\filter\\FilterFormatInterface\.$#'
			identifier: class.notFound
			count: 2
			path: modules/ui_icons_ckeditor5/src/Form/IconDialog.php

		-
			message: '#^Call to method getFilterFormat\(\) on an unknown class Drupal\\editor\\EditorInterface\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_ckeditor5/src/Plugin/CKEditor5Plugin/IconPlugin.php

		-
			message: '#^Parameter \$editor of method Drupal\\ui_icons_ckeditor5\\Plugin\\CKEditor5Plugin\\IconPlugin\:\:getDynamicPluginConfig\(\) has invalid type Drupal\\editor\\EditorInterface\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_ckeditor5/src/Plugin/CKEditor5Plugin/IconPlugin.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:\$fieldDefinition\.$#'
			identifier: property.notFound
			count: 3
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:getSetting\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:getSettings\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Call to static method defaultSettings\(\) on an unknown class Drupal\\link\\Plugin\\Field\\FieldFormatter\\LinkFormatter\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Call to static method defaultSettings\(\) on an unknown class Drupal\\linkit\\Plugin\\Field\\FieldFormatter\\LinkitFormatter\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:create\(\) calls parent\:\:create\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:defaultSettings\(\) calls parent\:\:defaultSettings\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:settingsForm\(\) calls parent\:\:settingsForm\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:settingsSummary\(\) calls parent\:\:settingsSummary\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter\:\:viewElements\(\) calls parent\:\:viewElements\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldFormatter\\IconLinkitFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldFormatter/IconLinkitFormatter.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:\$fieldDefinition\.$#'
			identifier: property.notFound
			count: 3
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:getSetting\(\)\.$#'
			identifier: method.notFound
			count: 13
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:getSettings\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:create\(\) calls parent\:\:create\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:defaultSettings\(\) calls parent\:\:defaultSettings\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:formElement\(\) calls parent\:\:formElement\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:settingsForm\(\) calls parent\:\:settingsForm\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget\:\:settingsSummary\(\) calls parent\:\:settingsSummary\(\) but Drupal\\ui_icons_field_linkit\\Plugin\\Field\\FieldWidget\\IconLinkitWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit/src/Plugin/Field/FieldWidget/IconLinkitWidget.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:\$fieldDefinition\.$#'
			identifier: property.notFound
			count: 3
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:getSetting\(\)\.$#'
			identifier: method.notFound
			count: 13
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:getSettings\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:traitFormElement\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:traitSettingsForm\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:traitSettingsSummary\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Call to an undefined static method Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:traitDefaultSettings\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:create\(\) calls parent\:\:create\(\) but Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Property Drupal\\ui_icons_field_linkit_attributes\\Plugin\\Field\\FieldWidget\\IconLinkitWithAttributesWidget\:\:\$linkAttributesManager has unknown class Drupal\\link_attributes\\LinkAttributesManager as its type\.$#'
			identifier: class.notFound
			count: 2
			path: modules/ui_icons_field/modules/ui_icons_field_linkit_attributes/src/Plugin/Field/FieldWidget/IconLinkitWithAttributesWidget.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:\$fieldDefinition\.$#'
			identifier: property.notFound
			count: 3
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:getSetting\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:getSettings\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Call to static method defaultSettings\(\) on an unknown class Drupal\\link\\Plugin\\Field\\FieldFormatter\\LinkFormatter\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:create\(\) calls parent\:\:create\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:defaultSettings\(\) calls parent\:\:defaultSettings\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:settingsForm\(\) calls parent\:\:settingsForm\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:settingsSummary\(\) calls parent\:\:settingsSummary\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter\:\:viewElements\(\) calls parent\:\:viewElements\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldFormatter\\IconLinkFormatter does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldFormatter/IconLinkFormatter.php

		-
			message: '#^Call to an undefined method Drupal\\Core\\Field\\FieldDefinitionInterface\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldType/IconType.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:\$fieldDefinition\.$#'
			identifier: property.notFound
			count: 3
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:getSetting\(\)\.$#'
			identifier: method.notFound
			count: 13
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:getSettings\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:create\(\) calls parent\:\:create\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:defaultSettings\(\) calls parent\:\:defaultSettings\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:formElement\(\) calls parent\:\:formElement\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:settingsForm\(\) calls parent\:\:settingsForm\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget\:\:settingsSummary\(\) calls parent\:\:settingsSummary\(\) but Drupal\\ui_icons_field\\Plugin\\Field\\FieldWidget\\IconLinkWidget does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconLinkWidget.php

		-
			message: '#^Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface\:\:\$target_id\.$#'
			identifier: property.notFound
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconWidget.php

		-
			message: '#^Constant REQUIREMENT_OK not found\.$#'
			identifier: constant.notFound
			count: 1
			path: modules/ui_icons_font/ui_icons_font.install

		-
			message: '#^Constant REQUIREMENT_WARNING not found\.$#'
			identifier: constant.notFound
			count: 1
			path: modules/ui_icons_font/ui_icons_font.install

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_media\\Form\\IconMediaAddForm\:\:getBaseFormId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_media/src/Form/IconMediaAddForm.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_media\\Form\\IconMediaAddForm\:\:getMediaLibraryState\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_media/src/Form/IconMediaAddForm.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_media\\Form\\IconMediaAddForm\:\:getMediaType\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_media/src/Form/IconMediaAddForm.php

		-
			message: '#^Call to an undefined method Drupal\\ui_icons_media\\Form\\IconMediaAddForm\:\:processInputValues\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_media/src/Form/IconMediaAddForm.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_media\\Plugin\\media\\Source\\Icon\:\:\$configuration\.$#'
			identifier: property.notFound
			count: 1
			path: modules/ui_icons_media/src/Plugin/media/Source/Icon.php

		-
			message: '#^Attribute class Drupal\\media\\Attribute\\MediaSource does not exist\.$#'
			identifier: attribute.notFound
			count: 1
			path: modules/ui_icons_media/src/Plugin/media/Source/Icon.php

		-
			message: '#^Call to method get\(\) on an unknown class Drupal\\media\\MediaInterface\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_media/src/Plugin/media/Source/Icon.php

		-
			message: '#^Drupal\\ui_icons_media\\Plugin\\media\\Source\\Icon\:\:create\(\) calls parent\:\:create\(\) but Drupal\\ui_icons_media\\Plugin\\media\\Source\\Icon does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_media/src/Plugin/media/Source/Icon.php

		-
			message: '#^Drupal\\ui_icons_media\\Plugin\\media\\Source\\Icon\:\:getMetadata\(\) calls parent\:\:getMetadata\(\) but Drupal\\ui_icons_media\\Plugin\\media\\Source\\Icon does not extend any class\.$#'
			identifier: class.noParent
			count: 4
			path: modules/ui_icons_media/src/Plugin/media/Source/Icon.php

		-
			message: '#^Parameter \$media of method Drupal\\ui_icons_media\\Plugin\\media\\Source\\Icon\:\:getMetadata\(\) has invalid type Drupal\\media\\MediaInterface\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_media/src/Plugin/media/Source/Icon.php

		-
			message: '#^Parameter \#1 \$array of static method Drupal\\Component\\Utility\\NestedArray\:\:getValue\(\) is passed by reference, so it expects variables only\.$#'
			identifier: argument.byRef
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: '#^Parameter \#1 \$array of static method Drupal\\Component\\Utility\\NestedArray\:\:setValue\(\) is passed by reference, so it expects variables only\.$#'
			identifier: argument.byRef
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: '#^Property Drupal\\ui_icons_picker\\Form\\IconSelectForm\:\:\$iconSearch in isset\(\) is not nullable nor uninitialized\.$#'
			identifier: isset.initializedProperty
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: '#^Access to an undefined property Drupal\\ui_icons_text\\Plugin\\Filter\\IconEmbed\:\:\$settings\.$#'
			identifier: property.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Access to constant TYPE_TRANSFORM_REVERSIBLE on an unknown class Drupal\\filter\\Plugin\\FilterInterface\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Attribute class Drupal\\filter\\Attribute\\Filter does not exist\.$#'
			identifier: attribute.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Call to method merge\(\) on an unknown class Drupal\\filter\\FilterProcessResult\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Call to method setProcessedText\(\) on an unknown class Drupal\\filter\\FilterProcessResult\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Drupal\\ui_icons_text\\Plugin\\Filter\\IconEmbed\:\:__construct\(\) calls parent\:\:__construct\(\) but Drupal\\ui_icons_text\\Plugin\\Filter\\IconEmbed does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Instantiated class Drupal\\filter\\FilterProcessResult not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Method Drupal\\ui_icons_text\\Plugin\\Filter\\IconEmbed\:\:process\(\) has invalid return type Drupal\\filter\\FilterProcessResult\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Parameter \$result of method Drupal\\ui_icons_text\\Plugin\\Filter\\IconEmbed\:\:renderIntoDomNode\(\) has invalid type Drupal\\filter\\FilterProcessResult\.$#'
			identifier: class.notFound
			count: 2
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: '#^Call to an undefined method Drupal\\Core\\Form\\FormInterface\:\:getEntity\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/ui_icons_text/ui_icons_text.module

		-
			message: '#^Call to method filters\(\) on an unknown class Drupal\\filter\\Entity\\FilterFormat\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/ui_icons_text.module

		-
			message: '#^PHPDoc tag @var for variable \$filter_format contains unknown class Drupal\\filter\\Entity\\FilterFormat\.$#'
			identifier: class.notFound
			count: 1
			path: modules/ui_icons_text/ui_icons_text.module

		-
			message: '#^Parameter \#2 \$content of class Drupal\\Core\\Ajax\\ReplaceCommand constructor expects array\|string, Drupal\\Component\\Render\\MarkupInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Element/IconAutocomplete.php
