parameters:
	ignoreErrors:
		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 1
			path: src/AmazeeIoApi/AmazeeClient.php

		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 2
			path: src/Form/AmazeeioAiConfigForm.php

		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 1
			path: src/Plugin/VdbProvider/AmazeeioVdbProvider.php

		-
			message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead$#'
			identifier: globalDrupalDependencyInjection.useDependencyInjection
			count: 1
			path: src/Vdb/Postgres/Plugin/VdbProvider/PostgresProvider.php
