.alert,
.alert-info {
  background-color: var(--brand-primary);
  color: var(--text-light);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-5);
  padding: var(--spacing-5);
  position: relative;

  h2,
  h3,
  a {
    color: inherit;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}

.alert--warning,
.alert-warning {
  background-color: var(--text);
}

.alert--danger,
.alert-danger {
  background-color: var(--brand-accent);
}

.alert--policy,
.alert-policy {
  background-color: var(--white);
  color: var(--text);
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--brand-accent);
  border-left-width: 0.8rem;
  font-weight: var(--font-weight-default);
}

.alert--notice,
.alert-notice {
  background-color: var(--white);
  color: var(--text);
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--brand-primary-light);
  border-left-width: 0.8rem;
  font-weight: var(--font-weight-default);
}

@media (min-width: 768px) {
  .alert__icon {
    position: absolute;
  }

  .alert--icon .alert__content {
    margin-left: var(--spacing-7);
  }
}

@media (min-width: 1024px) {
  .alert,
  .alert-info {
    background-position: 2rem 50%;
  }
}
