@reference "../../00-base/global/global.pcss";

/*======================
 Media card - Image
=======================*/
.media__card {
  @apply relative h-full p-6 max-w-[50%] mb-2;

  .top-section {
    @apply w-full;
  }

  img {
    @apply w-full rounded-3xl object-cover max-h-[280px];
  }

  .headline {
    @apply font-semibold mb-3;

    a {
      @apply !no-underline hover:text-sds-heading-light;
    }
  }

  .card_text {
    @apply text-2xl;
  }

  .card_date-time-wrapper {
    @apply text-slate-500;

    > div:last-child:not(:first-child) {
      &:before {
        content: "•";
        @apply mr-1 ml-2 inline-block;
      }
    }
  }

  .card_category-wrapper {
    span {
      @apply inline-block px-4 py-1 rounded-full text-base font-normal bg-sds-gray;
    }
    .card_primary_category {
      @apply bg-sds-base-brand-light;
    }
  }

  /* Default card */
  &.default {
    @apply relative rounded-4xl bg-white border-solid border-sds-border border;
  }

  /* No Image card */
  &.no-image {
    @apply p-0;
  }

  &.horizontal {
    @apply w-full flex-col flex md:flex-row p-0 justify-normal items-stretch border-0 rounded-none;

    .top-section {
      @apply mb-6 md:!mb-0 lg:w-5/12 lg:max-w-5/12;
    }

    .bottom-section {
      @apply lg:w-7/12 lg:max-w-7/12 md:pl-8 lg:pl-12 flex flex-col h-auto;
    }

    .card_text {
      @apply mb-6;
    }

    .card_category-wrapper {
      @apply mt-auto;
    }

    &.large {
      @apply w-full max-w-full;

      .card_image {
        @apply lg:mb-0;
      }
    }

    &.medium,
    &.small {
      .top-section {
        @apply lg:max-w-[17.5rem];
      }

      .card_image {
        @apply lg:mb-0;
      }
    }

    &.left-image .top-section {
      @apply md:mb-6;
    }

    &.right-image {
      @apply flex-col-reverse md:flex-row-reverse;

      .top-section {
        .card_image {
          @apply md:mb-0;
        }
      }

      .bottom-section {
        @apply md:mb-6;
      }
    }
  }

  &.vertical {
    &.top-image .top-section {
      @apply mb-6;
    }

    &.bottom-image {
      @apply flex-col-reverse;

      .top-section {
        .card_image {
          @apply mb-0;
        }
      }

      .bottom-section {
        @apply mb-6;
      }
    }

    .bottom-section {
      @apply flex flex-col w-full h-full;

      .card_text {
        @apply mb-6;
      }

      .card_category-wrapper {
        @apply mt-auto;
      }
    }

    &.large {
      @apply max-w-full;
    }

    &.medium {
      @apply max-w-[75%];
    }

    &.small {
      @apply max-w-[50%];
    }
  }

  &.full_box_link {
    a.btn {
      @apply w-full h-full;
    }
  }
}

/* Mobile View */
@media screen(max-width: 767px) {
  .media__card {
    &.vertical {
      &.large,
      &.medium,
      &.small {
        @apply max-w-full w-full;
      }
    }

    &.horizontal {
      @apply flex-col;

      > div {
        flex: 0 0 auto;
      }

      &.large,
      &.medium,
      &.small {
        @apply max-w-full;

        .card_image {
          @apply mb-6 mr-0;
        }

        .bottom-section {
          @apply px-0;
        }
      }
    }
  }
}

/* Vertical Border between card */
.vertical-border {
  .view-content {
    .views-row:nth-child(odd) {
      @apply relative;

      &::after {
        @apply absolute border-dashed border-sds-border border-b-2 lg:border-r-2 -bottom-3 lg:top-0 lg:-right-3 w-full lg:w-px h-px lg:h-full content-[""];
      }
    }
  }
}

/* highlighted-content */
.highlighted-content {
  .view-article {
    .media__card {
      @apply bg-sds-gray;
    }
  }
  .view-research {
    .views-row:not(:last-child) {
      @apply relative mb-12;

      &::after {
        @apply absolute border-dashed border-sds-border border-b-2 -bottom-6 w-full h-px content-[""];
      }
    }
  }
}
