p,
.paragraph {
  margin: 0 0 var(--spacing-2);
  line-height: 1.5;
}

.paragraph--small {
  font-size: var(--body-small);
}

.paragraph--large {
  font-size: var(--body-large);
}

.paragraph--strong {
  font-weight: var(--font-bold);
}

.paragraph--no-margin {
  margin: 0;
}

/* Iconed paragraph */
.paragraph--icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.paragraph--icon .icon {
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
}
