.props-select-trigger.props-select-trigger {
  width: 50%;
}

.props-limited-box {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 50%;
}

.props-textfield-root {
  width: 100%;
}

.props-divider {
  height: 24px;
  border-left: 1px solid var(--gray-6);
}
