.banner-background.image-full .banner-inner .banner-content h1,
.banner-background.image-full .banner-inner .banner-content .h1,
.banner-background.image-full .banner-inner .banner-content p,
.banner-background.image-full .banner-inner .banner-content .subheading {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 15.5);
}

.banner-background .banner-title {
    font-weight: 700;
}

//fix for provus_edu_theme
.banner {
  &.text-center .banner-links {
    justify-content: center;
  }

  .banner-links {
    display: flex;
    column-gap: 20px;
  }
}
