html {
  /* Grayscale */
  --black: #000;
  --grey-darker: #1C1C1C;
  --grey-dark: #4A4A4A;
  --grey-medium: #757575;
  --grey-light: #E5E5E5;
  --grey-lighter: #F5F5F5;
  --white: #fff;

  /* Primary Colours */
  --brand-primary: #2196F3;
  --brand-primary-dark: #1D4ED8;
  --brand-primary-light: #E3F2FD;
  --brand-accent: #FBBF24;

  /* Typography */
  --text: var(--grey-darker);
  --text-light: var(--white);

  /* Links */
  --link-default: var(--brand-primary-dark);
  --link-visited: var(--brand-primary-dark);
  --link-active-outline: var(--brand-primary-dark);

  /* Forms */
  --form-border: var(--brand-primary);
  --form-background: var(--grey-lighter);

  /* Messages */
  --status-color: #4CAF50;
  --warning-color: #FBC02D;
  --error-color: #E53935;

  /* Primary Button */
  --button-bg-default: var(--white);
  --button-text-default: var(--brand-primary-dark);
  --button-hover-bg-default: var(--brand-accent);
  --button-hover-text-default: var(--text);
  --button-active-bg-default: var(--brand-accent);
  --button-active-text-default: var(--text);

  /* Secondary Button */
  --button-secondary-bg: var(--brand-primary-dark);
  --button-secondary-color: var(--white);
  --button-secondary-hover-bg: var(--grey-darker);
  --button-secondary-hover-color: var(--text-light);
  --button-secondary-active-bg: var(--grey-darker);
  --button-secondary-active-color: var(--text-light);

  /* Tables */
  --table-default-bg: var(--white);
  --table-bg-inverse: var(--grey-light);
  --table-default-heading-bg: var(--brand-primary-light);
  --table-border: var(--brand-primary-dark);
}

.eureka-scheme--red {
  /* Primary Colours */
  --brand-primary: #F44336;
  --brand-primary-dark: #D32F2F;
  --brand-primary-light: #FCEAEA;
}

.eureka-scheme--green {
  /* Primary Colours */
  --brand-primary: #4CAF50;
  --brand-primary-dark: #388E3C;
  --brand-primary-light: #E8F5E9;
}

.eureka-scheme--purple {
  /* Primary Colours */
  --brand-primary: #9810FA;
  --brand-primary-dark: #4A0C75;
  --brand-primary-light: #F1E5FF;
  --brand-accent: #FF7E57;
}
