/* Variable export */
/* Mode 1 */
/* color */
/* color */
$background-colors-background-dark: #601b2a;
$background-colors-background-light: #f8f5f2;
$background-colors-background-white: #ffffff;
$primary-colors-primary: #601b2a;
$primary-colors-primary-accent: #a3243e;
$primary-colors-primary-contrast: #ffffff;
$primary-colors-primary-hover: #d31b41;
$secondary-colors-secondary: #f6c84e;
$secondary-colors-secondary-accent: #f8f5f2;
$secondary-colors-secondary-contrast: #601b2a;
$secondary-colors-secondary-hover: #e7b83b;
$system-error-contrast: #422424;
$system-error-light: #fee2e2;
$system-error-medium: #d70622;
$system-error-primary: #fc1136;
$system-info-contrast: #35290f;
$system-info-light: #e8f7ff;
$system-info-medium: #1a5aac;
$system-info-primary: #3491fa;
$system-success-contrast: #024825;
$system-success-light: #d1fae5;
$system-success-medium: #007038;
$system-success-primary: #258750;
$system-warning-contrast: #35290f;
$system-warning-light: #fffbd1;
$system-warning-medium: #946800;
$system-warning-primary: #f7ce55;
$text-colors-body-color: #403c3a;
$text-colors-text-contrast: #ffffff;
$text-colors-text-hint: #747474;
$text-colors-text-primary: #000000;
$text-colors-text-secondary: #601b2a;
/* number */
$button-border-radius-radius-small: 12px;
$button-border-radius-radius-big: 40px;
$cards-border-radius-radius-xxxs: 0px;
$cards-border-radius-radius-xxs: 4px;
$cards-border-radius-radius-xs: 8px;
$cards-border-radius-radius-sm: 16px;
$cards-border-radius-radius-md: 20px;
$cards-border-radius-radius-lg: 24px;
$cards-border-radius-radius-xl: 32px;
$cards-border-radius-radius-xxl: 40px;
$cards-border-radius-radius-xxxl: 100px;
$images-border-radius-radius-xxxs: 0px;
$images-border-radius-radius-xxs: 4px;
$images-border-radius-radius-xs: 8px;
$images-border-radius-radius-sm: 12px;
$images-border-radius-radius-md: 16px;
$images-border-radius-radius-lg: 20px;
$images-border-radius-radius-xl: 32px;
$images-border-radius-radius-xxl: 40px;
$images-border-radius-radius-xxxl: 999px;
$padding-padding-xxxs: 4px;
$padding-padding-xxs: 8px;
$padding-padding-xs: 12px;
$padding-padding-sm: 16px;
$padding-padding-md: 20px;
$padding-padding-lg: 24px;
$padding-padding-xlg: 32px;
$padding-padding-xxlg: 40px;
$padding-padding-xxxlg: 64px;
$radius-radius-xxxs: 0px;
$radius-radius-xxs: 4px;
$radius-radius-xs: 8px;
$radius-radius-sm: 16px;
$radius-radius-md: 20px;
$radius-radius-lg: 24px;
$radius-radius-xl: 32px;
$radius-radius-xxl: 40px;
$radius-radius-xxxl: 100px;
/* color */
$button-outline-background: #ffffff;
$button-outline-background-hover: #a3243e;
$button-outline-border: #a3243e;
$button-outline-border-hover: #a3243e;
$button-outline-text: #000000;
$button-outline-text-hover: #ffffff;
$button-primary-background: #f6c84e;
$button-primary-background-hover: #e7b83b;
$button-primary-text: #601b2a;
$button-primary-text-hover: #601b2a;
$button-secondary-background: #f8f5f2;
$button-secondary-background-hover: #ffffff;
$button-secondary-text: #601b2a;
$button-secondary-text-hover: #601b2a;
$button-transparent-text: #601b2a;
$button-transparent-text-hover: #a3243e;
$footer-background: #601b2a;
$footer-link: #ffffff;
$footer-link-hover: #f8f5f2;
$footer-text: #ffffff;
$header-navigation-background: #ffffff;
$header-navigation-link: #000000;
$header-navigation-link-hover: #601b2a;
$header-utility-menu-background: #601b2a;
$header-utility-menu-link: #ffffff;
$header-utility-menu-link-hover: #f8f5f2;
$header-utility-menu-text: #ffffff;
/* number */
$footer-link-font-size: 16px;
$footer-text-headlines-size: 16px;
$footer-text-size: 16px;
$header-nav-menu-links-size: 18px;
$header-navigation-link-spacing: 50px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
$font-body: "Source Sans 3", serif;
$font-heading: "Source Sans 3", serif;
$font-fontawesome: 'Font Awesome 5 Free';

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$font-special: "Fjalla One", serif;


// Primary Color Mappings.
$primary: $primary-colors-primary;
$primary-hover: $primary-colors-primary-hover;
$primary-contrast: $primary-colors-primary-contrast;
$primary-accent: $primary-colors-primary-accent;

// Secondary Color Mappings.
$secondary: $secondary-colors-secondary;
$secondary-hover: $secondary-colors-secondary-hover;
$secondary-contrast: $secondary-colors-secondary-contrast;
$secondary-accent: $secondary-colors-secondary-accent;

// Background Color Mappings.
$background-white: $background-colors-background-white;
$background-light: $background-colors-background-light;
$background-grey: $background-colors-background-grey;
$background-lightblue: $background-colors-background-lightblue;
$background-lightteal: $background-colors-background-lightteal;
$background-gradient: linear-gradient(45deg, #2BAEC6, #094FC2);

// Text Color Mappings.
$text-primary: $text-colors-text-primary;
$text-secondary: $text-colors-text-secondary;
$text-contrast: $text-colors-text-contrast;
$text-hint: $text-colors-text-hint;
$body-color: $text-colors-body-color;

// Accent Color Mappings.
$accent-light: $secondary-accent;
$accent-dark: $secondary-contrast;

// System/Alert Color Mappings.
$success-light: $system-success-light;
$success-primary: $system-success-primary;
$success-medium: $system-success-medium;
$success-contrast: $system-success-contrast;
$error-light: $system-error-light;
$error-primary: $system-error-primary;
$error-medium: $system-error-medium;
$error-contrast: $system-error-contrast;
$warning-light: $system-warning-light;
$warning-primary: $system-warning-primary;
$warning-medium: $system-warning-medium;
$warning-contrast: $system-warning-contrast;
$system-light: $system-info-light;
$system-primary: $system-info-primary;
$system-medium: $system-info-medium;
$system-contrast: $system-info-contrast;


// Bootstrap fixes.
$primary-light: $primary-contrast;
$primary-shade: $primary;
$primary-dark: $primary-accent;
$secondary-shade: $secondary;
$accent-shade: $secondary;
$font-size-base: 1rem;

// Cards.
$card-border-radius: .25rem;
$card-spacing: 1.25rem;
$card-border-color: #E7E8E9;
$card-border-dark: #D9DBDD;

// HR Color
$hr-color: $text-primary;

// Border Color
$border-color: $card-border-color;
$color-border-color: $border-color;

// Grayscale Colors
$white: white;
$gray-lightest: #eaeaea;
$gray-light: #747474;
$gray: #666;
$gray-darker: #333;
$gray-medium: #556575;
$black: #15191B;

// Tables colors
$table-gray: #f8f8f8;
$table-border: $card-border-color;

// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;

// Font Sizes and Weights
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .75;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$h1-font-size: 64px;
$h2-font-size: 52px;
$h3-font-size: 32px;
$h4-font-size: 22px;
$h5-font-size: 20px;
$h6-font-size: 20px;
$font-size-display-headline: $h1-font-size;
$font-size-sub1-headline: 24px;
$font-size-sub2-headline: 16px;
$font-size-body-md: 18px;
$font-size-body-sm: 14px;
$font-size-caption: 14px;
$font-size-eyebrow-lg: 16px;
$font-size-eyebrow-md: 12px;
$font-size-button-lg: 20px;
$font-size-button-md: 18px;
$font-size-button-sm: 14px;

$font-weight-display-headline: 700;
$h1-font-weight: 700;
$h2-font-weight: 700;
$h3-font-weight: 700;
$h4-font-weight: 700;
$h5-font-weight: 700;
$h6-font-weight: 700;
$font-weight-sub1-headline: 600;
$font-weight-sub2-headline: 600;
$font-weight-body-md: 400;
$font-weight-body-sm: 400;
$font-weight-caption: 400;
$font-weight-eyebrow-lg: 700;
$font-weight-eyebrow-md: 700;
$font-weight-button-lg: 600;
$font-weight-button-md: 600;
$font-weight-button-sm: 600;

$line-height-h1: 72px;
$line-height-h2: 62px;
$line-height-h3: 44px;
$line-height-h4: 28px;
$line-height-h5: 26px;
$line-height-h6: 26px;
$line-height-display-headline: 72px;
$line-height-sub1-headline: 36px;
$line-height-sub2-headline: 26px;
$line-height-body-md: 27px;
$line-height-body-sm: 24px;
$line-height-caption: 18px;
$line-height-eyebrow-lg: 16px;
$line-height-eyebrow-md: 12px;
$line-height-button-lg: 20px;
$line-height-button-md: 18px;
$line-height-button-sm: 14px;

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

// Bootstrap barrio variables.
$primary-dark: $primary-contrast;

// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px, // lower burger menu
  xl: 1440px,
  xxl: 1680px
);

// Grid containers.
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 744px,
  lg: 984px,
  xl: 1252px,
  xxl: 1568px
);

$radius-radius-xxxl: 100px;

// Pagination
$focus-ring-color: $primary;
$focus-ring-width: 2px;
$pagination-focus-box-shadow: 0 0 0 $focus-ring-width $focus-ring-color;

$color-heading: $secondary-colors-secondary-contrast;
$tabs-color-primary: $primary-colors-primary;
$tabs-color-secondary: $secondary-colors-secondary;
$tabs-background-color-primary: $secondary-colors-secondary-accent;
$tabs-background-color-secondary: $background-colors-background-white;
$tabs-border-color: $background-colors-background-grey;
$tabs-border-color-hover: $background-colors-background-white;
$tabs-border-bottom-color: $tabs-color-primary;

$secondary-link-text-underline-xxxs: 1px;
$button-secondary-background-active: #F7DABC;
$button-secondary-background-focus: #EDE1D5;
$button-outline-background-focus: #8B1B32;;
$text-disabled: #D0D5DD;

// Tables
$table-header-background-color: $background-colors-background-dark;
$table-header-text-color: $primary-colors-primary-contrast;
$table-header-padding: $padding-padding-md;
$table-header-border-color: rgba(255,255,255,.3);
$table-body-background-zebra-color: #F9F9F9;
$table-body-text-color: $text-colors-text-primary;
$table-body-padding: $padding-padding-md;
$table-body-border-color: rgba(0,0,0,.1);