.layout-builder-configure-block #edit-settings-block-form-field-provus-links-0-options {
  #edit-settings-block-form-field-provus-links-0-options-icon {
    width: 50%;
  }
  #edit-settings-block-form-field-provus-links-0-options-class {
    width: 50%;
  }
  #edit-settings-block-form-field-provus-links-0-options-attributes-target {
    width: 100%;
  }
}

.layout-builder-configure-block #edit-settings-block-form-field-provus-links-0-options:hover {
  border: 1px solid #2563EB;
}

.claro-details[open] {
  border: 1px solid #2563EB;
}

.claro-details__summary:hover {
  background-color: white !important;
  border: 1px solid #2563EB;
}

#edit-settings-block-form-field-provus-links-0-options .claro-details__summary::before {
  background: url('/themes/custom/provus_base_theme/images/layout_builder/cog.svg') no-repeat center center !important;
  background-size: contain !important;
  mask: none !important;
}

#edit-settings-block-form-field-provus-links-0-options-attributes .claro-details__summary::before {
  background: url('/themes/custom/provus_base_theme/images/layout_builder/categorization.svg') no-repeat center center !important;
  background-size: contain !important;
  transform: rotate(0deg);
  mask: none !important;
}

#edit-settings-block-form-field-provus-links-0-options .claro-details__summary .required-mark {
  background: url('/themes/custom/provus_base_theme/images/layout_builder/sprite.svg#handle-view') no-repeat center center !important;
  background-size: contain !important;
  display: inline !important;
  position: absolute;
  right: 0;
  margin-right: 12px;
  mask: none !important;
}

.claro-details__summary[aria-expanded=true] > .required-mark  {
  transform: rotate(270deg);
}

.claro-details__summary[aria-expanded=false] > .required-mark  {
  transform: rotate(-270deg);
}

#edit-settings-block-form-field-provus-links-0-options .claro-details__summary .required-mark::after {
  mask: none !important;
  background: none !important;
}

.field-multiple-table tr .form-item {
  display: block !important;
}