.text hr {
  width: 12rem;
  margin: var(--spacing-3) 0 var(--spacing-5) 0;
  border: 0.2rem solid var(--brand-primary-dark);
}

@media (min-width: 768px) {
  .text hr {
    margin: var(--spacing-4) 0 var(--spacing-8) 0;
  }
}
