.form-item {
  margin-bottom: var(--spacing-7);
}

.form-item__label {
  display: block;
  margin-bottom: var(--spacing-2);
  font-weight: var(--font-bold);
}

.form-item__textfield {
  border: 0.2rem solid var(--form-border);
  padding: var(--spacing-2);
  width: 100%;
  border-radius: 0;
  appearance: none;
}

.form-item__description {
  margin-bottom: var(--spacing-2);
}

.form-item__description.after {
  margin-top: var(--spacing-2);
  margin-bottom: 0;
}

.form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: var(--spacing-7);
}

.form-fieldset .form-item {
  margin-left: var(--spacing-2);
}

.captcha {
  margin-bottom: var(--spacing-2);
}

.form-item--error {
  border-left: 0.4rem solid var(--error-color);
  color: var(--error-color);
  padding-left: var(--spacing-2);
}

.form-item--error .form-item__textfield {
  border-color: var(--error-color);
}
