.scrollArea {
  border: 1px solid var(--slate-6);
  border-radius: var(--radius-3);
}

.codeEditorPanel {
  background: var(--slate-2);
}

.tabList {
  box-shadow: none !important; /* Override default box shadow from Radix */
}

.tabTrigger {
  padding-right: var(--space-1) !important;
  padding-left: var(--space-1) !important;
}

.addToComponentsButton {
  border-bottom: 1px solid var(--slate-6);
}

.allotmentRoot {
  --separator-border: var(--slate-6);
  --focus-border: var(--blue-7);

  flex: 1;
  min-width: 0;
}
