.changeRow {
  padding-bottom: var(--space-1);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-1);
}

.changeRowRight {
  color: var(--gray-10);
}

.changeRowRight button {
  all: unset;
}

.changeIcon {
  color: var(--gray-10);
}

.time {
  color: var(--blue-9);
}

.conflictIcon {
  width: 14px;
  height: 14px;
  color: var(--red-9);
}

.resolveConflictMenuItem {
  color: var(--gray-12);
  font-weight: var(--font-weight-regular);
}

.menuIcon {
  width: 14px;
  height: 14px;
  color: var(--gray-10);
}
