parameters:
  level: 8
  universalObjectCratesClasses:
    - Drupal\Core\Extension\Extension
  reportUnmatchedIgnoredErrors: true
  excludePaths:
    # The scripts directory does not contain runtime code.
    - scripts
    # The node_modules contains some PHP to ignore.
    - sveltejs
  # Every ignore should be documented.
  ignoreErrors:
    # Ignore errors when using `array` as a return type.
    -
      identifier: missingType.iterableValue
      reportUnmatched: false

    ### Core testing suite
    # Caused by missing return type on \Drupal\FunctionalJavascriptTests\WebDriverTestBase::assertSession().
    -
      message: "#^Call to an undefined method Drupal\\\\Tests\\\\WebAssert\\:\\:assert[a-zA-Z]+\\(\\)\\.$#"
      identifier: method.notFound
      paths:
        - tests/src/FunctionalJavascript
      reportUnmatched: false
    # Caused by missing return type on \Drupal\FunctionalJavascriptTests\WebDriverTestBase::assertSession().
    -
      message: "#^Call to an undefined method Drupal\\\\Tests\\\\WebAssert\\:\\:wait[a-zA-Z]+\\(\\)\\.$#"
      identifier: method.notFound
      paths:
        - tests/src/FunctionalJavascript
      reportUnmatched: false
    # Caused by \Drupal\KernelTests\KernelTestBase::$container having the wrong type.
    -
      message: "#^Property Drupal\\\\KernelTests\\\\KernelTestBase\\:\\:\\$container \\(Drupal\\\\Core\\\\DependencyInjection\\\\ContainerBuilder\\) does not accept Drupal\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\.$#"
      identifier: assign.propertyType
      paths:
        - tests/src/Kernel/DatabaseTablesTest.php
      reportUnmatched: false
    # Caused by \Drupal\Tests\user\Traits\UserCreationTrait::createUser() returning FALSE instead of throwing an exception.
    -
      message: "#^Parameter \\#1 \\$account of method Drupal\\\\Tests\\\\BrowserTestBase\\:\\:drupalLogin\\(\\) expects Drupal\\\\Core\\\\Session\\\\AccountInterface, Drupal\\\\user\\\\Entity\\\\User\\|false given\\.$#"
      identifier: argument.type
      paths:
        - tests/src/Functional
        - tests/src/FunctionalJavascript
      reportUnmatched: false
    # Caused by PHPStan misinterpreting internal properties of RenderElementBase as being applicable to the class as a whole.
    # @see https://git.drupalcode.org/project/drupal/-/blob/11.x/core/lib/Drupal/Core/Render/Element/RenderElementBase.php?ref_type=heads
    -
      message: '#^Class Drupal\\project_browser\\Element\\ProjectBrowser extends @internal class Drupal\\Core\\Render\\Element\\RenderElementBase\.$#'
      identifier: classExtendsInternalClass.classExtendsInternalClass
      paths:
        - src/Element/ProjectBrowser.php
      # This error is not found in all versions of core.
      reportUnmatched: false
    # This method has been removed in Drupal 12.
    -
      message: '#^Call to an undefined method Drupal\\Core\\Extension\\ModuleInstallerInterface\:\:addUninstallValidator\(\)\.$#'
      identifier: method.notFound
      count: 1
      path: tests/modules/project_browser_test/src/Extension/TestModuleInstaller.php
      # This error is not found in Drupal 11.
      reportUnmatched: false

    ### Package Manager
    # @todo Remove after resolving https://www.drupal.org/i/3501836.
    # Caused by using self instead of static as a return type in \Drupal\fixture_manipulator\FixtureManipulator.
    -
      message: "#^Method Drupal\\\\fixture_manipulator\\\\FixtureManipulator\\:\\:commitChanges\\(\\) invoked with 0 parameters, 1 required\\.$#"
      identifier: arguments.count
      paths:
        - tests/src/Kernel/InstallerTest.php
        - tests/src/Kernel/CoreNotUpdatedValidatorTest.php
        - tests/src/Kernel/PackageNotInstalledValidatorTest.php
      reportUnmatched: false
    # Caused by missing return type on \Drupal\Tests\package_manager\Traits\FixtureManipulatorTrait::getStageFixtureManipulator().
    -
      message: "#^Call to an undefined method object\\:\\:setCorePackageVersion\\(\\)\\.$#"
      identifier: method.notFound
      paths:
        - tests/src/Kernel/CoreNotUpdatedValidatorTest.php
      reportUnmatched: false
    # Caused by missing @throws on \Drupal\package_manager\StageBase::apply().
    -
      message: "#^Dead catch \\- Drupal\\\\package_manager\\\\Exception\\\\StageEventException is never thrown in the try block\\.$#"
      identifier: catch.neverThrown
      paths:
        - tests/src/Kernel/CoreNotUpdatedValidatorTest.php
      reportUnmatched: false
