@reference "../../00-base/global/global.pcss";

.user-detail {
  @apply flex gap-6 p-4 max-w-md;

  .user-image {
    @apply size-14 shrink-0 overflow-hidden rounded-full;
  }
  .user-description {
    @apply text-sm text-gray-600;
  }
}
