@reference "../../00-base/global/global.pcss";

.space-heading {
  &.spacing-bottom-small {
    @apply mb-4;
  }

  &.spacing-bottom-medium {
    @apply mb-8;
  }

  &.spacing-bottom-large {
    @apply mb-11;
  }

  &.align-center {
    @apply text-center;
  }

  &.align-right {
    @apply text-right;
  }
}
