.tag {
  padding: var(--spacing-0-5) var(--spacing-1);
  font-size: 1.2rem;
  font-weight: var(--font-medium);
  border-radius: var(--border-radius);
}

.tag--primary {
  color: var(--text-light);
  background-color: var(--brand-primary-dark);
}

.tag--secondary {
  color: var(--text);
  background-color: var(--brand-accent);
}
