ul,
ol {
  padding-left: var(--spacing-4);
  margin: 0;
}

ul li,
ol li {
  margin-bottom: var(--spacing-1);
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

ul li::marker {
  color: var(--brand-primary-dark);
}

/* Nested list styles */
ul li ul,
ol li ol {
  margin: 0.6rem 0;
}

/* Unstyled lists */
.list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--unstyled li::before {
  display: none;
}

/* Inline lists */
.list--inline {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.list--inline .list__item {
  margin-right: var(--spacing-2);
}

.list--inline .list__item:last-child {
  margin-right: 0;
}

/* List with icons. */
.list--icon {
  list-style: none;
  padding-left: 0;
}

.list--icon .list__item .icon {
  color: var(--brand-primary-dark);
  margin-top: 0.6rem;
  width: 1.2rem;
  height: 1.2rem;
}

.list--icon .list__item .icon ul,
.list--icon .list__item .icon ol {
  margin-left: var(--spacing-4);
}
