.grid-logos.grid-logos--themed .grid-logos .grid-logos__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.grid-logos .grid-logos__header {
  margin-bottom: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.grid-logos .grid-logos__eyebrow {
  margin-bottom: 0;
  min-height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;

  * {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    font-size: 18px;
    color: #030804 !important;
  }
}

.grid-logos .grid-logos__title {
  margin-bottom: 0;
  min-height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-logos .grid-logos__description {
  margin-bottom: 0;
  min-height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-logos .grid-logos__grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 80px;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 100%;
}

/* Responsiveness */
@media (max-width: 992px) {

  .grid-logos.grid-logos--themed,
  body:not(.canvas-page) .grid-logos.grid-logos--admin-theme,
  .grid-logos {
    padding: 64px 32px;
  }
}

@media (max-width: 768px) {
  .grid-logos.grid-logos--themed .grid-logos {
    padding: 48px 24px;
  }

  .grid-logos .grid-logos__grid {
    gap: 24px 32px;
  }
}