$header-bg: #092845;
$text-white: #FFFFFF;
$btn-blue: #1E88E6;
$font-family: 'Montserrat', sans-serif;
$menu-heading-color: #030804;
$text-regular-color: #4b5563;

// Breakpoints
$mobile-breakpoint: 992px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;