.local-tasks__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem var(--spacing-4);
  padding: var(--spacing-4);
  background-color: var(--brand-primary-light);
  list-style: none;
}

.local-tasks__nav li {
  margin-bottom: 0;
}

.local-tasks__nav li::before {
  display: none;
}
