parameters:
  level: 6
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - '#^Call to function method_exists\(\) with Drupal\\modeler_api\\Plugin\\ModelerApiModelOwner\\ModelOwnerInterface and ''getTemplate'' will always evaluate to true.#'
