# Ignore everything as a starting point.
**/*.*

# Explicitly enable Prettier for root config files.
!eslint.config.mjs
!playwright.config.ts

# Explicitly enable Prettier for JS/JSX/TS/TSX files in the UI codebase.
!ui/**/*.js
!ui/**/*.jsx
!ui/**/*.ts
!ui/**/*.tsx

# Ignore the `dist` directory.
ui/dist

# Explicitly enable Prettier for JS/JSX/TS/TSX files in Playwright tests.
!tests/src/Playwright/**/*.ts

# Explicitly enable Prettier for CLI codebase.
!cli/**/*.md
!cli/**/*.js
!cli/**/*.jsx
!cli/**/*.ts
!cli/**/*.tsx

# Explicitly enable Prettier for all packages.
!packages/**/*.ts
!packages/**/*.js
!packages/**/*.jsx
!packages/**/*.tsx
!packages/**/*.md

# Ignore dist directories in packages.
packages/*/dist

# Explicitly enable Prettier for test extension.
!tests/modules/canvas_test_extension/**/*.ts
!tests/modules/canvas_test_extension/**/*.js
!tests/modules/canvas_test_extension/**/*.jsx
!tests/modules/canvas_test_extension/**/*.tsx

# Ignore dist directory in test extension.
tests/modules/canvas_test_extension/dist

# Explicitly enable Prettier for example code components.
!tests/fixtures/code_components/**/*.jsx
