.wrapper {
  margin-bottom: var(--space-3);
}

.label {
  display: block;
  margin-bottom: var(--space-1);
}

.preview {
  max-width: 592px;
  margin-top: var(--space-2);
  margin-bottom: 0;
  padding: var(--space-3);
  border: 1px solid #e6e4df;
  background-color: white;
  font-family: Arial, sans-serif;
}

.title {
  margin: 0;
  padding: 0;
  color: #1a0dab;
  font-size: 14px;
  line-height: 1.33;
}

.url {
  padding-top: 1px;
  color: #006621;
  font-size: 12px;
  line-height: 1.43;
}

.description {
  min-height: 3.08em; /* Two lines to avoid layout shift when content is filled. */
  color: #545454;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.54;
  overflow-wrap: break-word;
}
