{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "alpha-value-notation" : "number",
    "custom-property-pattern": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "media-feature-range-notation": "prefix"
  }
}
