.text {
  font-size: var(--font-size-2);
  line-height: 23px;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: var(--space-1);
  color: #FFF;
  border-radius: 4px;
  background-color: #0090FF;
  box-shadow: 0 0 0 1px rgb(0, 9, 50, 0.12) inset;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: var(--radius-2);
}

.linkIcon {
  margin-right: var(--space-2);
  background-color: rgb(255, 255, 255, 0.4);
}

.closeIcon {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  color: #fff;
  &:hover {
    background-color: rgb(255, 255, 255, 0.4);
  }
}
