/* Gin theme support, try to use gin variables */
:root {
  --ui-icons--wrapper-size: calc(var(--input-padding-vertical) * 2 + var(--input-line-height) - 2px);
  --ui-icons--preview-size: 1.8rem;
  --ui-icons--result-size: 1.8rem;
  --ui-icons--border-radius: var(--gin-border-m);
  --ui-icons--border-color: var(--gin-border-color-form-element);
  --ui-icons--preview-bg-color: var(--gin-bg-layer3);
  --ui-icons-preview-margin: var(--gin-spacing-density-xs);
  --ui-icons-picker-size: 3rem;
  --ui-icons-picker-preview-size: 2.7rem;
}

/* Icon picker fix */
.icon-picker-modal__content label {
  margin-block-end: 0;
}
